/* 弹框样式 */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    width: 1000px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
.modal.show {
    display: flex; /* 只有 show 类时才显示为 flex */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

/* form label, form input, form textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
} */

form button {
    padding: 8px 16px;
    cursor: pointer;
}



.modal input, .modal select, .modal textarea{
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    width: 300px;
    color: #555555;
}

/**
    * 自定义radio单选按扭
**/
.radio-group {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        line-height: 1;          /* 设置子元素之间的间距 */    
    }

input[type="radio"] {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-color, #ccc);
  border-radius: 50%;
  vertical-align: middle; /* 关键：与文字基线对齐 */
  position: relative;
  cursor: pointer;
  flex-shrink: 0; /* 防止被压缩 */
  box-sizing: border-box;
}

input[type="radio"]:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 12px;
  height: 12px;
  background: #0798ff;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.2s ease;
}

input[type="radio"]:checked {
  border-color: #0798ff;
}

input[type="radio"]:checked:after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}


/* label 样式 */
.radio-group label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  color: #555;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5; /* 可调，建议 1.4 - 1.6 */
}

.btn-submit {
    float: right;
    top: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
    border: 0px solid;
    background: #4ea9ff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}
